## 3.2 Algorithms

An algoritm is a procedure for solving a problem. It specifies the actions to execute and the order in which they execute

## 3.3 Pseudocode

Pseudocode is NOT a programming language. It is a way of thinking out algorithms before converting to python code.

## 3.4 Control Statements

Sequential execution: Statements that are executed one right after the other

Selection Statement: Execute code based on a condition that evaluates to either true or false. 
    
    If
    if..else
    if... elif.. else

Repitition statements
    
    While: Repeats an action as long as a condition remains true
    For: Repeats an action for every item in a sequence of items

### Flowcharts
    Graphical representation of an algorithm or a part of one. 
    
Rectangles: Used to indicate any action such as a calculation or an input/output operation

Diamonds: Indicates a decision is to be nade, such as an if statement

Rounded rectangles: "Begin" and "End" for a complete algorithm

Small circles:Connector symbols

Arrows / flowlines: Shows the order in which the action executes

## 3.5 If Statements

If student's grade is greater than or equal to 60, Display 'Passed'

In [1]:
grade = 85

In [2]:
if grade >= 60:
    print('passed')

passed

The action to occur if a statement is met MUST be indented after the conditional statement or you will recieve an IndentationError syntax error

"==" and "=" are different in python code. "==" is the equality operator. "=" is an assignment statement.

In [3]:
grade = 55

In [4]:
if grade >= 60:
    print('passed')

(55 is not greater than 60, therefore nothing was printed)

## 3.6 if..else and if...elif...else Statements

The if...else statement performs different suites, based on whether a condition is True or False

If student's grade is greater than or equal to 60, display 'Passed'. Else, Display 'Failed'

In [5]:
grade = 85

In [6]:
if grade >= 60:
    print('Passed')
else:
    print('Failed')

Passed

In [7]:
grade = 57

In [8]:
if grade >= 60:
    print('Passed')
else:
    print('Failed')

Failed

The if...else statement can also be used to assign different values to a variable, based on a condition:

In [9]:
grade = 87

In [10]:
if grade >= 60:
    result = 'Passed'
else:
    result = 'Failed'

In [11]:
result

'Passed'

You can also make things more concise with the use of parentheses

In [12]:
result = ('Passed' if grade >= 60 else 'Failed')

In [13]:
result

'Passed'

if...elif...else statements allow you to test for many cases

In [14]:
grade = 77

In [15]:
if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

C

Notice how everything gets a condition EXCEPT for else. 'Else:' should never have anything next to it.

## 3.7 While Statement

In [16]:
product = 3

In [17]:
while product <= 50:
    product = product * 3

In [18]:
product

81

Self Check

In [19]:
product = 7

In [20]:
while product <= 1000:
    product = product * 7

In [21]:
product

2401

## 3.8 For Statement

In [22]:
for character in 'Programming':
    print(character, end=' ')

P r o g r a m m i n g

The next example shows how you can add together numbers in a list. This list is confined within square brackets.

In [23]:
total = 0

In [24]:
for number in [2, -3, 0, 17, 9]:
    total = total + number

In [25]:
total

25

The next example shows the use of python's built-in range function.

In [26]:
for counter in range(10):
    print(counter, end=' ')

0 1 2 3 4 5 6 7 8 9

Note that a range of 10 does not include the number 10. This is because 0 counts as the first number.

Self Check

In [27]:
total = 0

In [28]:
for number in range(1000000):
    total = total + number

In [29]:
total

499999500000

## 3.9 Augmented Assignments
    Abbreviated assignment expressions in which the same variable name appears on the left and right of the assignment's =

In [30]:
for number in [1, 2, 3, 4, 5]:
    total = total + number

Can also be written...

In [31]:
for number in [1, 2, 3, 4, 5]:
    total += number

Self Check

If x is 7, the value of x after evaluating x *= 5 is...

x*=5 is the same as x = x*5

x = 7*5

Therefore, the answer is 35

In [32]:
x = 12

In [33]:
x**=2

In [34]:
x

144

## 3.10 Program Development: Sequence-Controlled Repetition
    A class of ten students took a quiz. Their grades (integers in the range 0 - 100) are 98, 76, 71, 87, 83, 90, 57, 79, 82, 94. Determine the class average on the quiz.

In [35]:
# initialization phase

In [36]:
total = 0 #sum of grades

In [37]:
grade_counter = 0

In [38]:
grades = [98, 76, 71, 87, 83, 90, 57, 79, 82, 94]

In [39]:
# Processing phase

In [40]:
for grade in grades:
    total += grade # add current grade to the running total
    grade_counter += 1 # indicate that one more grade was processed

In [41]:
# termination phase

In [42]:
average = total / grade_counter

In [43]:
print(f'Class average is {average}')

Class average is 81.7

## 3.13 Built-In Function range: A Deeper Look

Function range's two-argument version produces a sequence of consecutive integers from its first argument's value up to, but not including, the second argument's value.

In [44]:
for number in range(5,10):
    print(number, end=' ')

5 6 7 8 9

Function range's three-argument version produces a sequence of integers from its first argument's value up to, but not including, the second argument's value. It does this in increments of whatever the third value is.

In [45]:
for number in range(0, 10, 2):
    print(number, end=' ')

0 2 4 6 8

If a third argument is negative, the sequence will decrease from the first arguments value down to the second arguments value. Doing this in increments of whatever the third value is.

In [46]:
for number in range(10,0, -2):
    print(number, end=' ')

10 8 6 4 2

## 3.15 Break and continue Statements

"Break" tells the code to stop when a certain criteria is met.

In [47]:
for number in range(100):
    if number == 10:
        break
    print(number, end=' ')

0 1 2 3 4 5 6 7 8 9

"Continue" tells the code to skip the remainder of the loop's suite

In [48]:
for number in range(10):
    if number ==5:
        continue
    print(number, end=' ')

0 1 2 3 4 6 7 8 9

## 3.16 Boolean Operators and, or and not

For "and", Both conditions must be true

In [49]:
gender = 'Female'

In [50]:
age = 70

In [51]:
if gender == 'Female' and age >= 65:
    print('Senior Female')

Senior Female

For "or", at lease one condition must be true

In [52]:
semester_average = 83

In [53]:
final_exam = 95

In [54]:
if semester_average >= 90 or final_exam >= 90:
    print('Student gets an A')

Student gets an A

"Not" reverses the meaning of the condition.

In [55]:
grade = 87

In [56]:
if not grade == 1:
    print('The next grade is', grade)

The next grade is 87

This can also be done using the following expression: !=

Self Check:

In [57]:
i = 1

In [58]:
j = 2

In [59]:
k = 3

In [60]:
m = 2

In [61]:
(i >= 1) and (j < 4)

True

In [62]:
(m <= 99) and (k < m)

False

In [63]:
(j >= i) or (k == m)

True

In [64]:
(k + m < j) or (3 - j >= k)

False

In [65]:
not (k > m)

False

## 3.17 Intro to Data Science: Measures of Central Tendency -- Mean, Median and Mode

For the vlaues 47, 95, 88, 73, 88, and 84, calculate the count, sum, and mean

In [66]:
values = [47, 95, 88, 73, 88, 84]

In [67]:
len(values)

6

In [68]:
sum(values)

475

In [69]:
sum(values)/len(values)

79.16666666666667

Using the same data as above, and by calling functions in the statistics module - calculate mean, median, and mode

In [70]:
import statistics

In [71]:
values = [47, 95, 88, 73, 88, 84]

In [72]:
statistics.mean(values)

79.16666666666667

In [73]:
statistics.median(values)

86.0

In [74]:
statistics.mode(values)

88

Using your own set of data - from anywhere, made-up, example set, calculate sum, count, mean, median, mode

In [75]:
import statistics

In [76]:
values = [12, 13, 15, 16, 13, 19, 30, 28, 13, 14, 9]

In [77]:
len(values)

11

In [78]:
sum(values)

182

In [79]:
statistics.mean(values)

16.545454545454547

In [80]:
statistics.median(values)

14

In [81]:
statistics.mode(values)

13